// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.label-info {
  display: inline !important;
}

#chat {
  height: 290px;
  overflow: auto;
}

.msg {
  margin-left: 2px;
  margin-bottom: 0;
  display: inline-block;
  word-wrap: break-word;
  width: 75%;
  cursor: crosshair;
  &.reply {
    width: 65%;
  }
}

.thread {
  border-left: grey solid 1px;
}

.identifier {
  width: 20%;
  vertical-align: top;
  padding-top: 1px;
}

#chat{
  word-wrap: break-word;
  min-height: 70vh;
}

.hidden {
  opacity: 0;
}

.message {
  width: 100%;
}

.load-more, #replying-to {
  display: block;
  text-align: center;
  text-decoration: underline;
  a {
    margin-right: 5px;
  }
}

.reply-message {
  margin-bottom: 15px;
}

.folded {
  background-color: grey;
}

html,body{
}