// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// helper
@mixin responsive() {
  @media screen and (max-width: 320px) {
    @content
  }
}
.hidden {
  opacity: 0;
}
// chat messages
.label-info {
  display: inline !important;
}
label.label.label-info.identifier {
  line-height: 20px;
}
#chat {
  height: 290px;
  overflow: auto;
  word-wrap: break-word;
  height: 70vh;
  @include responsive {
    height: 60vh;
  }
}

.msg {
  margin-left: 2px;
  margin-bottom: 0;
  display: inline-block;
  word-wrap: break-word;
  width: 75%;
  cursor: crosshair;
  &.reply {
    width: 65%;
  }
}

.thread {
  border-left: grey solid 1px;
}

.identifier {
  vertical-align: top;
  padding-top: 1px;
}

.time-stamp {
  @include responsive {
    display: none;
  }
}


.message {
  width: 100%;
}

.load-more, #replying-to {
  display: block;
  text-align: center;
  text-decoration: underline;
  a {
    margin-right: 5px;
  }
}

// folded in messages
.folded {
  background-color: grey !important;
}

// chat input
#message-input {
  display: inline-block;
  max-width: 70%;
}

/* Smartphones (portrait and landscape) ----------- */
.connected-users-display {
  @include responsive {
    display: none;
  }
  // #user-text-input {
  //   position: fixed;
  //   bottom: 0;
  //   width: 240px;
  // }
}

