<div id="chat" class="well" data-uri="<%= request.host %>:<%= request.port %>/websocket">
</div>

<div id="footer" class="form-inline well" id="user-text-input">
  <fieldset>
    <input type="text" class="span7" id="message">
    <button id="send" class="btn btn-primary pull-right">Send</button>
  </fieldset>
</div>